.cart--numItems{
    padding: 32px 16px 32px 16px;
    display: flex;
    gap:2px
}

.first--bag{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.second--bag{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
}

.all--items{
    padding: 0 16px 0 16px;
    
}

.name--divMini{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
}

.price--divMini{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1D1F22;
    padding-top: 10px;
}

.total-items{
    display: flex;
    margin-bottom: 40px;
}

.detail--divv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 136px;
}

.att-divv{
    display: flex;
    gap:8px;
}
.swatch{
    width: 16px;
    height: 16px;
    box-shadow: 0 0 0 1px #ffffff inset;
}
.swatch-a{
    box-shadow: 0 0 0 1px #bebdbd inset;
}

.swatch--border{
    border: 1px solid #5ECE7B;
}

.att-selected{
    background-color: #1D1F22;
    color: white;
}

.normal-att{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40px;
    max-height: 40px;
    min-width: 24px;
    min-height: 24px;
    border: 1px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
}

.mini--divName{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10px;
    padding-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #1D1F22;
}

.add--removeItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 0 8px;
}

.quantity--div{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #1D1F22;
}

.button-add,
.button-sub{
    border: 1px solid #1D1F22;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: white;
    font-size: large;
}

.img--divMini{
    width: 121px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.img-miniCart{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.totals--divs{
    padding: 0 16px 0 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.price-totallDiv{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.all--priceDiv{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}

.buttons--divs{
    margin: 0 16px 32px 16px;
    display: flex;
    justify-content: space-between;
}

.left-bagButton{
    width: 140px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #1D1F22;
    cursor: pointer;
}

.right-bagButton{
    width: 140px;
    height: 43px;
    background: #5ECE7B;
    border: none;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
}

