.card-product{
    position: relative;
}

.eachProduct:hover{
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.cat-name{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    color: #1D1F22;
    padding-left: 101px;
    margin: 0;
    padding-top: 90px;
    padding-bottom: 89px;
}
.el-name{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    /* color: #1D1F22; */
    padding-top: 24px;
}

.products-display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
    padding-bottom: 20px;
}

.img-div{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    width: 356px;
    height: 338px;
    padding: 16px;
    
}
.eachProduct{
    position: relative;
}
.button--listPage{
    display: none;
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    right: 31px;
    top: 328px;
    z-index: 100;
    background: #5ECE7B;
    color: white;
    border: none;
    cursor: pointer;
}

.eachProduct:hover .button--listPage {
    display: block;
}

.overlay--div{
    margin: 0;
    position: absolute;
    width: 356px;
    height: 338px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    opacity: 0.5;
    background-color: #FFFFFF;
    z-index: 100;
}
.out-stock{
    color: #8D8F9A;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
}

.card-img{
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}
.currency-p{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    
    
}
.name-price{
    padding-left: 16px;
    padding-bottom: 16px;
    color: #1D1F22;
}

.background-color{
    min-height: calc(100vh - 80px);
    background-color: rgba(57, 55, 72, 0.22);
}

.name-priceColor{
    color: #8D8F9A !important
}